<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Page</title>
  <link rel="stylesheet" href="./css/login.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="main-container">
    <div class="second-main-container">
      <div class="school-icon">
        <img src="./images/social_media_logos/school_logo.jpg" alt="school_logo" />
      </div>
      <div class="form-container">
        <form action="">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter Username" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" />
          </div>
          <div class="checkbox">
            <!-- <label for="remember-me">
                <input
                  type="checkbox"
                  name="remember-me"
                  id="remember-me"
                />Remember me
              </label> -->
            <label class="container">Remember me
              <input type="checkbox" checked="checked" />
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="forgot-password">
            <a href="#">Forgot password?</a>
          </div>
          <button type="submit">Login</button>
        </form>
      </div>

      <div class="sign_in_logos">
        <p>or sign in with</p>
        <a href=""><img src="./images/social_media_logos/facebook logo.png" alt="facebook_logo"/></a>
        <a href=""><img src="./images/social_media_logos/twitter_logo.png" alt="twitter_logo"/></a>
        <a href=""><img src="./images/social_media_logos/linkedin_logo.png" alt="linkedin_logo"/></a>
        <a href=""><img src="./images/social_media_logos/github_icon.png" alt="github_icon"/></a>
      </div>
    </div>
    <p class="signUp">Don't have an account ? Signup now!</p>
  </div>
</body>

</html>