<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Student Dashboard</title>
  <link rel="stylesheet" href="./css/dashboard/studentDashboard.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>
  <!-- sidebar content -->
  <div class="sidebar">
    <div class="sideNavbar">
      <div class="headerLogo">
        <img src="./images/social_media_logos/school_logo.jpg" alt="school_logo" />
      </div>
      <div class="toggleButton">
        <button type="submit">
          <img src="./images/student_dashboard/toggle-button.png" alt="toggle-button" />
        </button>
      </div>
    </div>
    <div class="dashboard sidebarSections">
      <div class="dashboard-icon icon">
        <img src="./images/student_dashboard/dashboard_icon.svg" alt="" />
      </div>
      <div>Dashboard</div>
      <div class="button">></div>
    </div>
    <div class="profile sidebarSections">
      <div class="profile-icon icon">
        <img src="./images/student_dashboard/profile.svg" alt="" />
      </div>
      <div>Profile</div>
      <div class="button">></div>
    </div>
    <div class="Attendence sidebarSections">
      <div class="Attendence-icon icon">
        <img src="./images/student_dashboard/attendance.svg" alt="" />
      </div>
      <div>Attendance</div>
      <div class="button">></div>
    </div>
    <div class="time-table sidebarSections">
      <div class="time-table-icon icon">
        <img src="./images/student_dashboard/time-table.svg" alt="" />
      </div>
      <div>Time Table</div>
      <div class="button">></div>
    </div>
    <div class="result sidebarSections">
      <div class="result-icon icon">
        <img src="./images/student_dashboard/result.svg" alt="" />
      </div>
      <div>Result</div>
      <div class="button">></div>
    </div>
    <div class="admit-card sidebarSections">
      <div class="admit-card-icon icon">
        <img src="./images/student_dashboard/admit-card.svg" alt="" />
      </div>
      <div>Admit Card</div>
      <div class="button">></div>
    </div>
    <div class="logout sidebarSections">
      <div class="dashboard-symbol icon">
        <img src="./images/student_dashboard/logout.svg" alt="" />
      </div>
      <div>Logout</div>
      <div class="button" type="submit">></div>
    </div>
  </div>

  <!-- left container for main content -->
  <div class="main-container">
    <div class="navbar">
      <div class="search-bar">
        <div class="search-button" type="submit">
          <img src="./images/student_dashboard/search-icon.svg" alt="search-icon" />
        </div>
        <div class="text-input">
          <input type="text" placeholder="Find Something..." />
        </div>
      </div>
      <div class="second-bar">
        <div class="user-profile">
          <div class="username">
            <h4>Stevene Zone</h4>
            <p>Admin</p>
          </div>
          <div class="dropdown-symbol">
            <img src="./images/student_dashboard/dropdown.svg" alt="" />
          </div>
          <div class="user-profile-pic">
            <img src="./images/student_dashboard/user-profile.png" alt="" />
          </div>
        </div>
        <div class="messages">
          <div class="number">8</div>
          <img src="./images/student_dashboard/message.svg" alt="" />
        </div>
        <div class="notifications">
          <div class="number">5</div>
          <img src="./images/student_dashboard/notification-bell.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="dashboardName">
        <h3>Admin Dashboard</h3>
        <div class="routeName">
          <div>Home</div>
          <div class="color">></div>
          <div class="color">Student</div>
        </div>
      </div>
      <div class="detailContainerTop">
        <div class="leftPart">
          <div class="aboutMe">
            <div class="heading-layout1">
              <div class="item-title">
                <h3>About Me</h3>
              </div>
              <div class="toggle-container">
                <a class="dropdown-toggle" href="#">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </a>
              </div>
            </div>
            <div class="profile-layout2">
              <div class="profile-pic">
                <img src="./images/student_dashboard/student-boy-profile-image.png" alt="student-profile-pic" />
              </div>
              <div class="profile-name">
                <h3>Jessica Maria</h3>
                <p>
                  Aliquam erat volutpat. Curabiene natis massa sedde
                  lacustiquen sodale word moun taiery.
                </p>
              </div>
            </div>
            <div class="profile-detail">
              <table class="profile-table">
                <tr>
                  <td>Name:</td>
                  <td class="key">Jessica Rose</td>
                </tr>
                <tr>
                  <td>Gender:</td>
                  <td class="key">Jessica Rose is bearjfjsdfklsdjflkfjsldkf</td>
                </tr>
                <tr>
                  <td>Father Name:</td>
                  <td class="key">Jessica Rose</td>
                </tr>
                <tr>
                  <td>Mother Name:</td>
                  <td class="key">Jessica Rose</td>
                </tr>
                <tr>
                  <td>Date of Birth:</td>
                  <td class="key">Jessica Rose</td>
                </tr>
                <tr>
                  <td>Father Occupation:</td>
                  <td class="key">Jessica Rose</td>
                </tr>
                <tr>
                  <td>E-Mail:</td>
                  <td class="key">Jessica Rose</td>
                </tr>
                <tr>
                  <td>Admission Date:</td>
                  <td class="key">Jessica Rose</td>
                </tr>
                <tr>
                  <td>Class:</td>
                  <td class="key">Jessica Rose</td>
                </tr>
                <tr>
                  <td>Father's Occupation:</td>
                  <td class="key">Jessica Rose</td>
                </tr>
                <tr>
                  <td>Section:</td>
                  <td class="key">Jessica Rose</td>
                </tr>
                <tr>
                  <td>Roll:</td>
                  <td class="key">Jessica Rose</td>
                </tr>
                <tr>
                  <td>Adress:/td>
                  <td class="key">Jessica Rose</td>
                </tr>
                <tr>
                  <td>Phone:</td>
                  <td class="key">Jessica Rose</td>
                </tr>
              </table>

            </div>


          </div>
        </div>
        <div class="rightPart">
          <div class="top-container">
            <div class="part">
              <div class="notification-icon icon">
                <img src="./images/student_dashboard/notification-div.svg" alt="notification-icon" />
              </div>
              <div class="notification-detail">
                <p>Notifiction</p>
                <h3>12</h3>
              </div>
            </div>
            <div class="part">
              <div class="notification-icon icon">
                <img src="./images/student_dashboard/event.svg" alt="notification-icon" />
              </div>
              <div class="notification-detail">
                <p>Events</p>
                <h3>6</h3>
              </div>
            </div>
            <div class="part">
              <div class="notification-icon icon">
                <img src="./images/student_dashboard/percentage.svg" alt="notification-icon" />
              </div>
              <div class="notification-detail">
                <p>Attendance</p>
                <h3>94%</h3>
              </div>
            </div>
          </div>
          <div class="bottom-container">
            <div class="sectionName">
              <h3>All Exam Results</h3>
              <a class="dropdown-toggle" href="#">...</a>
            </div>
            <div class="searchBar">
              <div class="searchByExam">
                <input type="text" placeholder="search By Exam ... " />
              </div>
              <div class="searchBySubject">
                <input type="text" placeholder="search By Subject ... " />
              </div>
              <div class="searchByDate">
                <input type="text" placeholder="dd/mm/yyyy" />
              </div>
              <button type="submit">Submit</button>
            </div>
            <div class="resultTable">
              <table class="resultdata">
                <thead>
                  <th>ID</th>
                  <th>Exam Name</th>
                  <th>Subject</th>
                  <th>Grade</th>
                  <th>Precent</th>
                  <th>Date</th>
                </thead>
                <tr>
                  <td>#0025</td>
                  <td>First Semseter</td>
                  <td>English</td>
                  <td>A</td>
                  <td>99.0>100</td>
                  <td>22/02/2024</td>
                </tr>
                <tr>
                  <td>#0025</td>
                  <td>First Semseter</td>
                  <td>English</td>
                  <td>A</td>
                  <td>99.0>100</td>
                  <td>22/02/2024</td>
                </tr>
                <tr>
                  <td>#0025</td>
                  <td>First Semseter</td>
                  <td>English</td>
                  <td>A</td>
                  <td>99.0>100</td>
                  <td>22/02/2024</td>
                </tr>
                <tr>
                  <td>#0025</td>
                  <td>First Semseter</td>
                  <td>English</td>
                  <td>A</td>
                  <td>99.0>100</td>
                  <td>22/02/2024</td>
                </tr>
                <tr>
                  <td>#0025</td>
                  <td>First Semseter</td>
                  <td>English</td>
                  <td>A</td>
                  <td>99.0>100</td>
                  <td>22/02/2024</td>
                </tr>
                <tr>
                  <td>#0025</td>
                  <td>First Semseter</td>
                  <td>English</td>
                  <td>A</td>
                  <td>99.0>100</td>
                  <td>22/02/2024</td>
                </tr>
                <tr>
                  <td>#0025</td>
                  <td>First Semseter</td>
                  <td>English</td>
                  <td>A</td>
                  <td>99.0>100</td>
                  <td>22/02/2024</td>
                </tr>
                <tr>
                  <td>#0025</td>
                  <td>First Semseter</td>
                  <td>English</td>
                  <td>A</td>
                  <td>99.0>100</td>
                  <td>22/02/2024</td>
                </tr>
                <tr>
                  <td>#0025</td>
                  <td>First Semseter</td>
                  <td>English</td>
                  <td>A</td>
                  <td>99.0>100</td>
                  <td>22/02/2024</td>
                </tr>
              </table>
            </div>
            <div class="pageScroller">
              <div class="previous" type="submit">Previous</div>
              <div class="currentPage">1</div>
              <div class="Next" type="submit">Next</div>
            </div>
          </div>
        </div>
      </div>
      <div class="detailContainerButtom">
        <div class="attendence">
          <div id="chartContainer" style="height: 370px; width: 100%;"></div>
          <button class="btn invisible" id="backButton">Back</button>
        </div>
        <div class="EventCalender">
          <div class="sectionName">
            <div class="sectionheader">Event Calender</div>
            <a class="dropdown-toggle" href="#">...</a>
          </div>
          <div class="dateSection">
            <div class="date">February 2024</div>
            <div class="buttons">
              <div class="previous" type="submit"><i class="la la-angle-left"></i></div>
              <div class="next" type="submit"><i class="la la-angle-right"></i></div>
            </div>
          </div>
          <div class="dayMonthYearSection">
            <div class="day">Day</div>
            <div class="month">Month</div>
            <div class="year">Year</div>
          </div>
          <div class="calenderSection">
            <table class="calender">
              <thead>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thurs</th>
                <th>Fri</th>
                <th>Sat</th>
              </thead>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="Notification">
          <div class="sectionName">
            <div class="header">Notifications</div>
            <a class="dropdown-toggle" href="#">...</a>
          </div>
          <div class="messages">
            <div class="dateOfNotification">16June,2019</div>
            <p class="message">Great School manag mene esom tus eleifend lectus sed maximus mi faucibusnting.</p>
            <p class="user&time">Jennyfar Lopez / 5 min ago</p>
            <hr>
          </div>
          <div class="messages">
            <div class="dateOfNotification">16June,2019</div>
            <p class="message">Great School manag mene esom tus eleifend lectus sed maximus mi faucibusnting.</p>
            <p class="user&time">Jennyfar Lopez / 5 min ago</p>
            <hr>
          </div>
          <div class="messages">
            <div class="dateOfNotification">16June,2019</div>
            <p class="message">Great School manag mene esom tus eleifend lectus sed maximus mi faucibusnting.</p>
            <p class="user&time">Jennyfar Lopez / 5 min ago</p>
            <hr>
          </div>
          <div class="messages">
            <div class="dateOfNotification">16June,2019</div>
            <p class="message">Great School manag mene esom tus eleifend lectus sed maximus mi faucibusnting.</p>
            <p class="user&time">Jennyfar Lopez / 5 min ago</p>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>© Copyrights akkhor 2019. All rights reserved. Designed by PsdBosS</p>
      <div class="upbutton"><i class="las la-chevron-circle-up"></i></div>
    </div>
  </div>

  <!-- js for attendence chart -->
  <script src="./js/dashboard/studentDashboard/attendenceChart.js"></script>
  <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
  <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</body>

</html>

<!-- sass --watch public/css/dashboard/studentDashboard.scss:public/css/dashboard/studentDashboard.css -->
<!-- cloudflared tunnel --url http://localhost:8000-->