* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.sidebar {
  width: 250px;
  box-sizing: border-box;
  outline: 1px solid red;
}
.sidebar .sideNavbar {
  display: flex;
  justify-content: space-around;
  outline: 1px solid red;
  gap: 134px;
}
.sidebar .sideNavbar .headerLogo img {
  height: 70px;
  width: 70px;
}
.sidebar .sideNavbar .toggleButton {
  padding-top: 16px;
}
.sidebar .sidebarSections {
  display: flex;
  justify-content: space-between;
  outline: 1px solid red;
  padding: 10px;
}
.sidebar .sidebarSections .icon img {
  height: 25px;
  width: 25px;
}

.main-container {
  width: 100%;
}
.main-container .navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 100%;
  padding: 10px;
  justify-content: space-around;
  gap: 616px;
  box-sizing: border-box;
}
.main-container .navbar .search-bar {
  display: flex;
  align-items: center;
}
.main-container .navbar .search-bar .search-button img {
  height: 25px;
  width: 25px;
}
.main-container .navbar .search-bar .text-input input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 17px;
}
.main-container .navbar .second-bar {
  display: flex;
  justify-content: space-around;
  gap: 25px;
}
.main-container .navbar .user-profile {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.main-container .navbar .user-profile .username {
  text-align: right;
}
.main-container .navbar .user-profile .username p {
  font-size: 0.8rem;
}
.main-container .navbar .user-profile .dropdown-symbol {
  height: 10px;
  width: 10px;
}
.main-container .navbar .user-profile .user-profile-pic img {
  height: 40px;
  width: 40px;
}
.main-container .navbar .messages,
.main-container .navbar .notifications {
  display: flex;
  align-items: center;
}
.main-container .navbar .messages .number,
.main-container .navbar .notifications .number {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  line-height: 1;
  background-color: lightblue;
  margin-left: 10px;
  margin-bottom: 21px;
}
.main-container .navbar .messages img,
.main-container .navbar .notifications img {
  height: 20px;
  width: 20px;
}
.main-container .main-content .dashboardName {
  background-color: yellow;
}
.main-container .main-content .detailContainerTop .leftPart .aboutMe {
  background-color: skyblue;
  width: 300px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.main-container .main-content .detailContainerTop .rightPart {
  background-color: lightgreen;
}
.main-container .main-content .detailContainerTop .rightPart .top-container {
  background-color: green;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.main-container .main-content .detailContainerTop .rightPart .top-container .part {
  background-color: rebeccapurple;
}
.main-container .main-content .detailContainerTop .rightPart .top-container .part .icon img {
  height: 50px;
  width: 50px;
}
.main-container .main-content .detailContainerButtom .attendence #backButton {
  border-radius: 4px;
  padding: 8px;
  border: none;
  font-size: 16px;
  background-color: #2eacd1;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.main-container .main-content .detailContainerButtom .attendence .invisible {
  display: none;
}

/*# sourceMappingURL=studentDashboard.css.map */
