<div class="navbar">
  <div class="search-bar">
    <div class="search-button" type="submit">
      <img src="./images/student_dashboard/search-icon.svg" alt="search-icon" />
    </div>
    <div class="text-input">
      <input type="text" placeholder="Find Something..." />
    </div>
  </div>
  <div class="second-bar">
    <div class="user-profile">
      <div class="username">
        <h4>Stevene Zone</h4>
        <p>Admin</p>
      </div>
      <div class="dropdown-symbol">
        <img src="./images/student_dashboard/dropdown.svg" alt="" />
      </div>
      <div class="user-profile-pic">
        <img src="./images/student_dashboard/user-profile.png" alt="" />
      </div>
    </div>
    <div class="messages">
      <div class="number">8</div>
      <img src="./images/student_dashboard/message.svg" alt="" />
    </div>
    <div class="notifications">
      <div class="number">5</div>
      <img src="./images/student_dashboard/notification-bell.svg" alt="" />
    </div>
  </div>
</div>
